.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

.main-page, .main-page-- {
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
}

.main-page-- {
	border: 1px solid red;
}


.playlist {
	background-color: #a42538;
	margin-top: 5px;
	margin-right: 300px;
	margin-left: 300px;
}

.main-video-object {
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: 20px inset #a42538;
	background-color: none;
}
